/.vs/
/.vscode/
**/bin/Debug/
**/obj/

/AjaxPro/obj/

/Shove.Components/bin/
/Shove.Components/obj/

/Shove.DAL/bin/
/Shove.DAL/obj/

**/*.csproj.user

/Shove/bin/Release/Shove.XML
/Shove/bin/Release/Shove.dll
/Shove/bin/Release/Shove.dll.config
/Shove/bin/Release/Shove.Components.*
/Shove/bin/Release/log4net.dll

/Shove/bin/Release/Shove_Secure/Shove.dll

!/Shove.Components/EnterpriseDT.Net/util/debug/*

